

@{
    ViewBag.Title = "AdminAllTimeSheets";
}


<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <!-- <h3 class="text-themecolor">Dashboard</h3>-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">All Current TimeSheets</li>
                </ol>
            </div>
            <div class="col-md-7 col-4 align-self-center">
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
        <a class="btn btn-success" style="margin-bottom:10px" onclick="redirect()"><i class="fa fa-plus"></i> View All Previous TimeSheets</a>

        <div id='myModal' class='modal'>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id='myModalContent'>
                    </div>
                </div>
            </div>
        </div>   


        <div class="table-responsive">
            <table id="timesheetsTable" class="table table-striped table-bordered" style="width:70%">
                <thead>
                    <tr>
                        <th>Employee ID</th>
                        <th>Employee Name</th>
                        <th>Supervisor</th>
                        <th>Status</th>
                        <th>Updated at</th>
                        <th>Updated by</th>
                        <th>Created At</th>
                        <th>Start Date</th>
                        <th>Valid Till</th>
                        <th>Extended Date</th>
                        <th></th>
                    </tr>
                </thead>

            </table>
        </div>
        
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer"> © 2018 MMP TimeSheets By Simsum</footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->




@section Scripts{
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.18/api/fnFilterClear.js"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.0.3/js/dataTables.rowGroup.min.js"></script>
    <script>
        var Popup, dataTable;

        $(document).ready(function () {
            dataTable = $("#timesheetsTable").DataTable({
                "ajax": {
                    "url": "/TimeSheet/GetUserDataForAdmin/?flag=currentTimeSheets",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "user.employee_id" },
                    { "data": "user.user_name" },
                    { "data": "supervisorName" },
                    { "data": "ts.timesheet_status" },
                    { "data": "ts.ts_status_update" },
                    { "data": "ts.updated_by" },
                    { "data": "tsmr.created_at" },
                    { "data": "tsmr.startDate" },
                    { "data": "tsmr.endDate" },
                    { "data": "ts.extendedDate" },
                    { "data": "ts.timesheet_id", "render": function (data) {
                        return "<a class= 'btn btn-default btn-sm' onclick=redirctEditView(" + data + ")><i class= 'fa fa-pencil'></i> View/Edit Timesheet</a><a class= 'btn btn-default btn-sm' onclick=OpenModal('@Url.Action("ExtendTimeSheet", "TimeSheet")/" + data + "')><i class= 'fa fa-pencil'></i> Extend TimeSheet</a>"//<a class= 'btn btn-danger btn-sm' style='margin-left:5px' ><i class= 'fa fa-trash'></i> Delete</a>"
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "150px"
                    }
                ],
                "language": {
                    "emptyTable" : "No TimeSheets Available for current week"
                }
            });
        });

        function OpenModal(url) {
            debugger;
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: url,
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');

                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
            //$("#closebtn").on('click',function(){  
            //    $('#myModal').modal('hide');    

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        }

        /*function PopupForm(url)
        {
            var formDiv = $('<div/>');
            $.get(url).done(function (response) {
                formDiv.html(response);

                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizeable: false,
                    title: "Fill TimeSheet details",
                    height: 700,
                    width: 700,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }
                });
            });
        }*/

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            $('#myModal').modal('hide');
                            //Popup.dialog('close');
                            dataTable.ajax.reload(null, false);

                            //notify.js plugin
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                });
            }
            return false;
        }

        function redirctEditView(id)
        {
            location.href = '@Url.Action("AdminTimeSheetEdit", "TimeSheet")/'+id;
        }

        function redirect()
        {
            location.href = '@Url.Action("AdminAllPreviousTimeSheets", "TimeSheet")';
        }

    </script>
}

