@model MMP.Models.ViewModels.TimeSheet.GenerateBackDatedTimeSheets
@{
    Layout = null;
}

@using (Html.BeginForm("GenerateBackDatedTimeSheets", "TimeSheet", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Generate BackDated TimeSheets</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>

    <div class="form-group">

        @Html.LabelFor(model => model.tsmr_backDate, "Back Date", htmlAttributes: new { @class = "control-label col-md-8" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.tsmr_backDate, new { htmlAttributes = new { /*@class = "form-control",*/ @id = "tsmr_back_date" } })
            @Html.ValidationMessageFor(model => model.tsmr_backDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-8">
        <input type="submit" value="Submit" class="btn btn-primary" />
        <input type="reset" value="Reset" class="btn" />
    </div>


}




@section Scripts{

    <script src="~/Scripts/jquery.validate.min.js"></script>

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>

        $(function () {
            $('.tsmr_back_date').datepicker();
        });
    </script>
}



